/* Parent cascading styles */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 20px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

#social-media {
    text-align: right;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 1;
    text-decoration: none;
    color: white; 
}

.fa-facebook {
  background: #3B5998;
  color: white;
  opacity: 0.4;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  opacity: 0.4;
}

.fa-google {
  background: #dd4b39;
  color: white;
  opacity: 0.4;
}

.btn-outline-success {
    color: white;
    border-color: white;
    background-color: transparent;
}

.btn-outline-success:hover {
    color: black;
    background-color: white;
    border-color: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
/*    padding-left: 20px;*/
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    height: 800px;
    background-color: #f1f1f1;
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
    overflow: auto;
}

div.event li {
    list-style: none;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style: none;
    padding: 0px;
}

ul.event-details {
    font-size: 14px;
}

.event-title {
    font-size: 19px;
    font-weight: bold;
}

.tabs {
    border: 10px solid black;
}

p.link {
    text-align: end;
    font-size: 10px;
}

img.d-block.w-100 {
    width: 80%; 
    height: 95%;
}

.carousel-indicators  {
    background-color: black;opacity:0.3;
    height: 1.5rem;
    align-items: center;
    color: white;
}

.carousel-control-prev {
    height: 5rem;
    width: 2rem;
    margin-top: 10rem;
    margin-left: 3rem;
    background-color: black;opacity:0.3;
}

.carousel-control-next {
    height: 5rem;
    width: 2rem;
    margin-top: 10rem;
    margin-right: 3rem;
    background-color: black;opacity:0.3;
}

/* Footer */
.footer-space {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 10px;
}

/* Child cascading styles */

p ul.info {
    list-style: disc;
}

h2 .card-title.sources {
    align-content: center;
    font-size: 13px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}


.button {
    display: inline-block;
    background-color: #333;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    width: 260px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #333;
    text-decoration: none;
    border: 2px solid #333;
}

.rounded-button {
    border-radius: 8px;
}

@media (min-width: 300px) and (max-width: 1024px) {
    header {
        background-image: url('../img/logo.png');
    }
    .carousel-indicators  {
        display: none;
    }

    .carousel-control-prev {
        height: 5rem;
        width: 2rem;
        margin-top: 2rem;
        margin-left: 0.2rem;
        background-color: black;opacity:0.3;
    } 

    .carousel-control-next {
        height: 5rem;
        width: 2rem;
        margin-top: 2rem;
        margin-right: 0.2rem;
        background-color: black;opacity:0.3;
    }
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
    .flex-container {
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    img.header-img {
        width: 270px;
        height: 60px;
    }
    .fa {
        padding: 10px;
        font-size: 20px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        margin: 2px 2px;
        border-radius: 50%;
    }
}

@media (min-width: 376px) and (max-width: 450px) {
    img.header-img {
        width: 340px;
        height: 70px;
    }
    .fa {
        padding: 10px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 2px 2px;
        border-radius: 50%;
    }
}

@media (min-height: 1200px) {
    .rightcolumn {
        height: 1100px;
    }
}

@media screen and (min-width: 800px) {
    .flex-container {
        flex-direction: row;
    }
}

@media (min-width: 2000px) {
    .rightcolumn {
        width: 40%;
    }
    .leftcolumn {
        width: 60%;
    }
}